/* styles.css */

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 50px;
}

label {
  display: block;
  margin-top: 20px;
}

input {
  padding: 8px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 30px;
  border: 1px solid #ccc;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
}

/* Estiliza as linhas alternadas com contraste */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

#paginationButtons {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  gap: 5px; /* Espaçamento entre os botões */
}

#paginationButtons button {
  padding: 5px 10px;
  background-color: #007BFF; 
  color: #fff;
  border: none;
  cursor: pointer;
}

#paginationButtons button.active {
  background-color: #03356b; /* Cor mais escura ao passar o mouse */
  font-weight: bold; /* Destaca a página atual */
  color: #fff;
}

#paginationButtons button:not(.active):hover {
  background-color: #0056b3; /* Cor de hover nos botões, exceto o atual */
}

.pageSize-container {
  margin-top: 10px;
}

.pageSize-container label {
  margin-bottom: 5px; /* Espaço entre o rótulo e o campo de seleção */
}
