<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ExtratoClube Search</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <h1>ExtratoClube Search</h1>
  <label for="cpf">Digite o número do <b>CPF:</b></label>
  <input type="text" id="cpf" maxlength="14" oninput="formatCPF()" />
  <button id="searchButton" onclick="search()" disabled>Buscar</button>
  <div id="result"></div>

  <script>

    const cpfInput = document.getElementById('cpf');
    const searchButton = document.getElementById('searchButton');

    cpfInput.addEventListener('input', formatCPF);

    function formatCPF() {
      let value = cpfInput.value.replace(/\D/g, ''); // Remove o que nao for numero
      if (value.length > 11) value = value.slice(0, 11); 
      value = value.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4'); 
      cpfInput.value = value;

      // enquanto o cpf não tiver corretamente preenchido o botão fica desativado
      searchButton.disabled = value.length !== 14;

      if (searchButton.disabled) {
        searchButton.classList.add('disabled');
      } else {
        searchButton.classList.remove('disabled');
      }
    }

    async function search() {
      const cpf = cpfInput.value
      const response = await fetch(`/api/user-benefits?cpf=${cpf}`, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
        },
      });
      const data = await response.json();     
      
      const resultTable = document.createElement('table');
      resultTable.id = 'resultTable';
      const tbody = document.createElement('tbody');

      if (data?.records?.length > 0) {
        data.records.forEach(record => {
          const row = document.createElement('tr');
          row.innerHTML = `
            <td><b>CPF:</b> ${record._source.cpf}</td>
            <td><b>Matricula:</b>${record._source.matricula}</td>
          `;
          tbody.appendChild(row);
        });
      } else {
        const row = document.createElement('tr');
        row.innerHTML = '<td colspan="2">Nenhum registro de matrícula encontrado.</td>';
        tbody.appendChild(row);
      }

      resultTable.appendChild(tbody);

      const resultDiv = document.getElementById('result');
      resultDiv.innerHTML = '';
      resultDiv.appendChild(resultTable);
    }
  </script>
</body>
</html>
