<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ExtratoClube Search</title>
</head>
<body>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }
    h1 {
      margin-top: 50px;
    }
    label {
      display: block;
      margin-top: 20px;
    }
    input {
      padding: 8px;
    }
    button {
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #007BFF;
      color: #fff;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #0056b3;
    }
    #result {
      margin-top: 30px;
      border: 1px solid #ccc;
      padding: 10px;
    }
  </style>

  <h1>ExtratoClube Search</h1>
  <label for="cpf">Digite o número do <b>CPF:</b></label>
  <input type="text" id="cpf" />
  <button onclick="search()">Buscar</button>
  <div id="result"></div>

  <script>
    async function search() {
      const cpf = document.getElementById('cpf').value;
      const response = await fetch(`/api/user-benefits?cpf=${cpf}`, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
        },
      });
      const data = await response.json();

      console.log(data)


      const resultString = data?.records?.length > 0
        ? `Registros de matrícula encontrados:<br><ul>
           ${data.records.map(record => `<li><b>CPF:</b> ${record._source.cpf} | <b>Matrícula:</b> ${record._source.matricula}</li>`).join('')}
           </ul>`
        : "Nenhum registro de matrícula encontrado.";
 
     
      const resultDiv = document.getElementById('result');
      resultDiv.innerHTML = resultString;
      
    }
  </script>
</body>
</html>
